<div class="style-switch">
  <span>Select a style </span><select ng-init="selectedStyle = styles[0].name" ng-model="selectedStyle" ng-options="style.name as style.title for style in styles"></select>
</div>

<div class="{{ selectedStyle }}">
  <ul class="reviews">
    <li ng-repeat="review in reviews" ng-class-even="'even'">
      <h2><a ng-bind-html="review.reviewTitle" href="{{ filmLink + review.reviewLink }}"></a></h2>
      <img class="thumb" ng-if="review.reviewImage" ng-src="{{ imagePath + review.reviewImage }}">
      <p class="author" ng-bind-html="review.reviewAuthor"></p>
      <p class="summary" ng-bind-html="review.reviewSummary"></p>
      <span class="rating {{ 'star-' + review.reviewRating }}">
        <img src="images/star_1.png">
        <span class="reveal"><img src="images/star_5.png"></span>
      </span>
    </li>
  </ul>
</div>